<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Records | LC</title>
</head>
<body>
    <h4>Records</h4>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Pin Code</th>
        <th>Delete</th>
        {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td><a href="/delete-student/{{ record[0] }}">Delete</a> </td>
            </tr>
        {% endfor %}
    </table>
      <h5><a href ="/registration-form/">show reg's page</a></h5>
      <h5><a href="/show-records/">show records page</a></h5>
</body>
</html>
