<html>
    <head>
        <title>
            Students Records | LC Academy
        </title>
    </head>
    <form action="/add-new-record/" method="post">
        <h3>Student Information</h3>
        Name<br>
        <input type="text" name="name"><br>

        Address<br>
        <textarea name="address"></textarea><br>

        City<br>
        <input type="text" name="city"><br>

        Pin Code<br>
        <input type="text" name="pin-code"><br>
        <input type="submit" value="submit"><br>
    </form>
      <h5><a href="/show-records/">show records page</a></h5>
</html>
